@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: white;
    color: #212d27;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}
#header{
    background-image: url('imgs/wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    position: fixed;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    padding: 10px;
}

header img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: 0;
    margin-top: 80px;
    margin-bottom: 30px;
}

.eu{
    text-align: center;
}

.eu .status{
    font-weight: 300;
}

.ola{
    font-size: 23px;
}

.menu{
    position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 21px;
   
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}

.menu a:hover{
    letter-spacing: 2px;
}

.menu ul{
    list-style: none;
    text-align: center;
    
}



ul li {
   margin-bottom: 8px;
   width: 100%;
   padding: 5px;
}

.midias a i{
    color: aliceblue;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 3px;
}
.midias a i:hover{
    transform: scale(1.1);
}
.container{
    position: absolute;
    top: 0;
    left: 30%;
    width: 60%;
    margin-top: 80px;
}

#sobre{
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 18px;
    padding-bottom: 50px;
    border-bottom: 1px solid #212d274d;
    margin-bottom: 50px;
}

#sobre button{
    background-color: #212d276d;
    padding: 10px 15px;
    width: 200px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    color: aliceblue;
}



#sobre button:hover {
    background-color: #1ec270f1;
  
}

#sobre p{
    line-height: 30px;
    text-align: justify;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tecnologias i {
    font-size: 28px;
    margin-left: 5px;
    color: #212d279e;
}

.tecnologias i:hover {
    color: #1ec270f1;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.softskill{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.softskill li{
    padding: 8px;
    background-color: #212d279e;
    color: white;
    width: fit-content;
    border-radius: 3px;
    font-size: 15px;
    cursor: default;
}
.softskill li:hover{
    background-color: #1ec270f1;
}
.titulo{
    font-weight: normal;
    font-size: 27px;
}

#portfolio{
    position: relative;
    margin: auto;
    width: 100%;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(347px,1fr));
    row-gap: 25px;
    column-gap: 0;
    position: relative;
    justify-content: center;
    width: 100%;
    justify-items: center;
    margin-top: 50px;
}

.port{
    position: relative;
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #212d274d;
}


.port-img{
    position: relative;
    top: 0;
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.port img{
    position: relative;
    width: 98%;
    height: 100%;
    object-fit: cover;
    justify-items: center;
    margin: auto;

}

.port:hover{
    transform: scale(1.05);
}

.port p{
    text-align: justify;
}


#portfolio button{
    background: transparent;
    border: 3px solid #212d274d;
    padding: 10px 15px;
    width: 200px;
    border-radius: 3px;
    margin-top: 50px;
    color: #212d27f0;
    font-size: 18px;
}

#contato{
    margin-top: 50px;
    border-top: 1px solid #212d274d;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

#contato .titulo{
    margin: 50px auto;
}


#contato ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contato ul li a{
    color: #212d27;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 300;
    cursor: default;
}
#contato i {
    background-color: #1ec270f1;
    border-radius: 50%;
    padding: 6px;
    color: aliceblue;
    font-size: 25px;
    margin-right: 10px;
}


footer{
    border-top: 1px solid #212d274d;
    padding-top: 5px;
    margin-bottom: 10px;
    color: #9e9e9e;
    width: 100%;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


#claroescuro{
    background-color: #1ec270f1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    float: right;
    justify-content: center;
    left: 95%;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}

.btn-menu{
    font-size: 30px;
}

@media screen and (max-width:700px){

    #header{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        color: aliceblue;
        position: fixed;
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        margin: auto;
        z-index: 10000;
    }

    header img{
        width: 100px;
        border-radius: 50%;
        position: relative;
        margin-top: 80px;
        margin-bottom: 30px;
        top: 30px;
    }
    
    
    .ola{
        font-size: 25px;
    }

    .ola-eu{
        gap: 15px;
        margin-top: 20px;
    }
    
    .menu{
        position: relative;
        width: 100%;
        margin-top: 30px;
        font-size: 18px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .menu ul{
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    ul li {
       padding-bottom: 60px;
       width: 100%;
    }
    
    .midias{
        position: absolute;
        top: 30px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .midias a i{
        color: aliceblue;
        margin-top: 20px;
        font-size: 30px;
        margin-left: 3px;
        opacity: 0.7;
    }
    .midias a i:hover{
        opacity: 1;
    }

    .container{
        top: 400px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        padding: 50px;
    }

    #sobre{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-bottom: 50px;
        border-bottom: 1px solid #212d274d;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    
    #portfolio{
        position: relative;
        margin: auto;
        width: 100%;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(347px,1fr));
        row-gap: 25px;
        column-gap: 0;
        position: relative;
        justify-content: center;
        width: 100%;
        justify-items: center;
        margin-top: 50px;
    }
    
    .port{
        position: relative;
        width: 300px;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 3px;
        box-shadow: 3px 3px 2px #212d274d;
    }
    
    
    .port-img{
        position: relative;
        top: 0;
        width: 300px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .port img{
        position: relative;
        width: 98%;
        height: 100%;
        object-fit: cover;
        justify-items: center;
        margin: auto;
    
    }
    

    #contato{
        margin-top: 50px;
        border-top: 1px solid #212d274d;
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
    
    #contato ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    
    #contato ul li a{
        color: #212d27;
        font-size: 15px;
        margin-right: 10px;
        font-weight: 300;
        cursor: default;
    }
    
    
    footer{
        border-top: 1px solid #212d274d;
        padding-top: 5px;
        margin-bottom: 10px;
        color: #9e9e9e;
        width: 100%;
        height: 25px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }
    
    
    #claroescuro{
        background-color: #1ec270f1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        position: relative;
        float: right;
        justify-content: center;
        left: 45%;
        cursor: pointer;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        top: -50px;
    }
    
    .btn-menu{
        font-size: 30px;
    }
    
}




@media screen and (max-width:450px){

    #header{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        color: aliceblue;
        position: fixed;
        font-weight: 400;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        padding: 50px;
        z-index: 10000;
       
    }

    header img{
        width: 90px;
        border-radius: 50%;
        position: relative;
        margin-top: 100px;
        margin-bottom: 20px;
        top: 40px;

    }
    
    .eu{
        text-align: center;
    }
    
    .eu .status{
        font-weight: 300;
    }
    
    .ola{
        font-size: 20px;
    }

    .ola-eu{
        gap: 15px;
        margin-top: 20px;
    }
    
    .menu{
        position: relative;
        width: 100%;
        margin-top: 30px;
        font-size: 17px;
        margin-bottom: 30px;
       
    }
    .menu a{
        text-decoration: none;
        color: aliceblue;
    }
    
    
    .menu ul{
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        
    }
    
    ul li {
        padding-bottom: 60px;
        width: 100%;
     }
    
    .midias{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
        margin: auto;
        padding: 0;
        gap: 25px;
    }
    .midias a i{
        color: aliceblue;
        margin-top: 20px;
        font-size: 20px;
        opacity: 0.7;
    }
    .midias a i:hover{
        opacity: 1;
    }

    .container{
        top: 400px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        padding: 50px;
    }

    #sobre{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-bottom: 50px;
        border-bottom: 1px solid #212d274d;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }
    .tecnologias{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap:wrap ;
    }
    
    
    #portfolio{
        position: relative;
        margin: auto;
        width: 100%;
    }
    
    .portfolio{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(347px,1fr));
        row-gap: 25px;
        column-gap: 0;
        position: relative;
        justify-content: center;
        width: 100%;
        justify-items: center;
        margin-top: 50px;
    }
    
    .port{
        position: relative;
        width: 250px;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 15px;
        border-radius: 3px;
        box-shadow: 3px 3px 2px #212d274d;
    }
    
    
    .port-img{
        position: relative;
        top: 0;
        width: 250px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .port img{
        position: relative;
        width: 98%;
        height: 100%;
        object-fit: cover;
        justify-items: center;
        margin: auto;
    
    }
    

    #contato{
        margin-top: 50px;
        border-top: 1px solid #212d274d;
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
    
    #contato ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    
    #contato ul li a{
        color: #212d27;
        font-size: 15px;
        margin-right: 10px;
        font-weight: 300;
        cursor: default;
    }
    
    
    footer{
        border-top: 1px solid #212d274d;
        padding-top: 5px;
        margin-bottom: 10px;
        color: #9e9e9e;
        width: 100%;
        height: 25px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }
    
    
    #claroescuro{
        background-color: #1ec270f1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        position: relative;
        float: right;
        justify-content: center;
        left: 45%;
        cursor: pointer;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        top: -50px;
    }
    
    .btn-menu{
        font-size: 30px;
    }
    
}